{% extends "blog/base.html" %}
{% load static %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5 col-md-12 order-lg-1">
        
          <div class="alert alert-info" role="alert">
            <div class="container">
              <div class="row">
                <div class="col-7 col-md-2">
                  {% if post.user.profile.profile_image_url %}
                    <img src="{{ post.user.profile.profile_image_url }}" 
                         width="50" height="50" class="rounded-circle img-fluid" 
                         alt="{{ post.user.username }}'s profile image">
                  {% else %}
                    <img src="{% static 'images/default.jpg' %}"  
                         width="50" height="50" class="rounded-circle img-fluid" alt="Profile image">
                  {% endif %}
                </div>
                <div class="col-8 col-md-10">
                  {% if post.post_image_url %}
                    <img src="{{ post.post_image_url }}" 
                         class="img-fluid" alt="{{ post.post_image_url }}'s post image">
                  {% endif %}
                  {{ post.body }}<br/>
                  <small class="text-muted">
                    ({{ post.created_at }}) By<p class="card-text">
                     @{{ post.user.username|lower }}</a>
                    - {{ post.number_of_likes }} Likes - 
                  </small>
                  <h2>Comments</h2>
                  {% for comment in post.comments.all %}
                    <div class="alert alert-light" role="alert">
                      <small class="text-muted">
                        ({{ comment.created_at }}) By >@{{ post.user.username|lower }}</a>: {{ comment.text }}
                      </small>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
{% endblock content %}

